.cursor
.idea


# 忽略生成的参数文件
model.pkl
model.tree



data/

data_train/
data_test/



__pycache__/
*.md



model_lFoot_rFoot.tree
model_lForeArm_lHand.tree
model_lThigh_lShin.tree
model_pairs.json
model_rButtock_lButtock.tree
model_rForeArm_rHand.tree
model_rThigh_rShin.tree
model_rThigh_rShin_rot60.tree
model_rThigh_rShin_rot30.tree
model_rForeArm_rHand_rot60.tree
model_rForeArm_rHand_rot30.tree
model_rButtock_lButtock_rot30.tree
model_lThigh_lShin_rot30.tree
model_lForeArm_lHand_rot60.tree
model_lThigh_lShin_rot60.tree
model_lForeArm_lHand_rot30.tree
model_lFoot_rFoot_rot60.tree
model_leftEye_rightEye.tree
model_leftEye_rightEye.tree
model_leftEye_rightEye.tree
model_lCollar_rCollar_rot60.tree
model_leftEye_rightEye.tree
model_leftEye_rightEye_rot30.tree
model_lCollar_rCollar_rot30.tree
model_leftEye_rightEye.tree
model_leftEye_rightEye.tree
model_leftEye_rightEye_rot60.tree
model_leftEye_rightEye.tree
model_lFoot_rFoot_rot30.tree
model_leftEye_rightEye.tree
model_rButtock_lButtock_rot60.tree
model_abdomen_chest.tree
model_abdomen_chest.tree
model_abdomen_chest.tree
model_abdomen_chest.tree
model_abdomen_chest_rot30.tree
model_abdomen_chest_rot60.tree
model_abdomen_chest.tree
model_chest_neck.tree
model_chest_neck_rot30.tree
model_head_lShldr.tree
model_head_lShldr_rot30.tree
model_abdomen_chest.tree
model_chest_neck.tree
model_chest_neck_rot60.tree
model_head_lShldr_rot60.tree
model_head_rShldr_rot30.tree
model_head_rShldr_rot60.tree
